---
import { Image } from "astro:assets";
import AboutImage from "../assets/about/about.jpg";
---

<section class="h-screen w-full flex items-end pb-10 relative gap-10">
  <Image
    src={AboutImage}
    alt="About Us"
    quality={70}
    class="object-contain lg:h-[80vh] lg:w-auto md:w-1/2 md:aspect-square w-fit"
  />
  <div class="prose lg:prose-xl prose-neutral">
    <h2>Sobre Nosotros</h2>
    <p class="text-sm">
      Laira Balance es un estudio boutique de Yoga, Pilates y Barre, creado para
      ofrecer una experiencia integral de bienestar físico y mental en un
      entorno chic, sereno y cuidadosamente diseñado. Cada clase está pensada
      para equilibrar fuerza, flexibilidad y conciencia corporal, guiada por
      instructores certificados que valoran la técnica y la conexión interior.
    </p>

    <p class="text-sm">
      Además, dentro del estudio encontrarás la boutique Laira Brand, una línea
      exclusiva de ropa deportiva y accesorios que complementan tu práctica con
      estilo y comodidad.
    </p>
  </div>
</section>
