---
import { Image } from "astro:assets";
import ClassesImage from "../assets/classes-section/classes.jpg";
---

<section id="classes" class="min-h-screen w-full flex flex-col relative">
  <Image
    width={920}
    height={1080}
    src={ClassesImage}
    alt="Classes image of a woman taking a yoga class"
    class="z-0 h-screen object-cover"
  />
  <div class="absolute bottom-16 right-10 flex flex-col gap-2 items-end">
    <h2 class="text-6xl text-secondary font-bold">Clases</h2>
    <a
      href="/classes"
      class="rounded-full bg-secondary text-black text-sm px-2 py-1 w-fit"
      >Hazte Miembro!</a
    >
  </div>
</section>
